<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="2"
          android:versionName="0.2"
          package="com.flinders.nguy1025.grouptasklist">

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".Activities.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Activities.MapsActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Activities.TaskRecordActivity"/>
        </activity>
        <activity android:name=".Activities.FolderDetailActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Activities.MainActivity"/>
        </activity>
        <activity android:name=".Activities.TaskRecordActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Activities.FolderDetailActivity"/>
        </activity>

        <provider
                android:name=".EasyFileProvider"
                android:authorities="@string/authority"
                android:exported="false"
                android:grantUriPermissions="true"
                tools:replace="android:authorities">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/my_file_paths"
                    tools:replace="android:resource" />
        </provider>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyC4x69ulu6jmfK8YOb7zKMRdbudNdd73aE"/>

    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />


</manifest>